body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: whitesmoke;
    width: 100vw;
}

.card {
    box-shadow: 2px 2px 4px red;
    border: 0.5px solid white;
    transition: 0.3s ease;
}

.card:hover {
    position: relative;
    background-color: #1a1919;
    right: 3px;
    bottom: 3px;
}

.card-img {
    width: 100%;
    height: 85%;
}

.card-text {
    text-align: center;
    margin: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    place-items: center;
}
.grid-item {
    padding: 20px;
    text-align: center;
}
.card{
    height: 200px;
    width: 280px;
}

.title {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: red;
    font-size: 1.5rem;
    text-align: start;
    justify-content: right;
    align-items: center;
    margin-right: 30%;
    gap: 15px;
}

.title-1 {
    margin: 0px 0px 0px 0px;
}
.outer-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
    background-color: black;
}
.header {
    display: flex;
    background-color: red;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
}

.header-button {
    display: flex;
    text-align: center;
    color: white;
    border: 3px black solid;
    border-radius: 7px;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.header-button>p {
    margin: 0px 0px 0px 0px;
    color: black;
}
.header-img {
    margin: 0px 0px 0px 0px;
    height: 27px;
    width: 30px;
}
.logo-img {
    height: 60px;
    width: 60px;
    padding: 2px;
    padding-bottom: 0px;
}
.logo {
    border: 2px black solid;
    border-radius: 5px;
}
.header-button:hover {
    transition-delay: 0.2s;
    position: relative;
    right: 2px;
    bottom: 2px;
    background-color: rgb(197, 0, 0);
}
.home-img:hover{
    transition-delay: 0.2s;
    background-color: rgb(197, 0, 0);
}
.home{
    margin-right: 30px;
}
.home-img{
    background-color: red;
}
.menu{
    color: black;
}